body {
    background: -webkit-linear-gradient(top, rgba(26, 165, 241, 0.25) 0%, rgba(28, 67, 182, 0.52) 100%);
    width:100%;
    height:1500px;
}
.admin {
    width: 100%;
    height: 1200px;
    position: absolute;
}
.admin-right {
    width: 20%;
    height: 1000px;
    background: yellow;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    position:absolute;
}
.admin-center {
    margin-left: 30%;
    width: 20%;
    height: 1000px;
    background: green;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: absolute;
    margin-bottom: 200%;
}
.admin-upload-img {
    margin-left: 60%;
    background: white;
    width: 20%;
    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}