@model Gallery1.Models.ArtWork
@{
    ViewBag.Title = "Auction";
}

<h2>Auction</h2>

@foreach (var items in Model)
{
    if (items.Price != 0)
    {
        string text = items.ToSting();
        @Html.DisplayText(text);
    }
}